.container {
  margin-bottom: 50px;
  background-color: yellow;
  flex: 1;
}
.container2 {
  margin-bottom: 50px;
  background-color: green;
  flex: 1;
}

.layout {
  margin-top: 300px;

  flex: 1;
}

.contents {
  flex: 1;
}
